@model IEnumerable<NewsApplication.Services.ViewModel.ThirdPartyNewsDataViewModel>

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<h2>Index</h2>

<input hidden id="AddFavouritesUrl" value="@ViewBag.PostFav" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>
    @if (Model != null && Model.Any())
    {

        @foreach (var item in Model)
        {
            <tr id="@counter">
                <td data-id="title">
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td data-id="description">
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <button data-counter="@counter" data-url="@ViewBag.FavUrl" class="makeFave">Make A Favourite</button>
                </td>
            </tr>
            { counter = counter + 1; }
        }
    }

</table>
@section Scripts
{
    <script>
        $('.makeFave').on('click', function (e) {
            e.preventDefault()
            var formData = new FormData();
            $(this).closest('tr').find('td').each(function () {
                var textval = $(this).text();
                var key = $(this).attr("data-id");
                formData.append(key, textval)
            });
            var url = $('#AddFavouritesUrl').val();
            if (formData) {

                $.ajax
                    ({
                        type: "POST",
                        data: formData,
                        url:url,
                        //contentType: false,
                        //processData: false,
                        success: function (result) {
                            if (result.Success) {
                               alert("Action was successful")
                            } else {
                                alert("An error occured, try again later")
                                console.log("An error occured");
                            }

                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] === "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                           
                        }
                    });

            }
            else {

            }
        });

    </script>
}
