@model IEnumerable<NewsApplication.Services.ViewModel.ThirdPartyNewsDataViewModel>

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<h2>Index</h2>

<input hidden id="AddFavouritesUrl" value="@ViewBag.PostFav" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>
    @if (Model != null && Model.Any())
    {

        @foreach (var item in Model)
        {
            <tr>
                <td data-id="title">
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td data-id="description">
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <button data-id="btn" data-counter="@counter" data-url="@ViewBag.FavUrl" class="makeFave">Make A Favourite</button>
                </td>
            </tr>
        }
    }

</table>
@section Scripts
{
    <script>
        $('.makeFave').on('click', function (e) {
            e.preventDefault()
            var formData = {};
            $(this).closest('tr').find('td').each(function () {
                var textval = $(this).text();
                var key = $(this).attr("data-id");
                if (key) {
                    formData[`${key}`] = textval;
                }
            });
            var url = $('#AddFavouritesUrl').val();
            var settings = {
                "url": url,
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify(formData),
            };

            $.ajax(settings).done(function (response) {
                alert("Action was successful")

            }).catch(() => {
                alert("An error occured, try again later")
            });
           
        });

    </script>
}
